.header{
    position: relative;
    height: 58px;
    border-bottom: 1px solid #f0f0f0;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 56px;
    background: url("../../statics/logo.png") 0 0 no-repeat;
    background-size: cover;
}

.nav{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.navItem{
    flex: 1;
    display: flex;
    justify-content: center;
}

.button{
    position: absolute;
    top: 13px;
    right: 0;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}